html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background: #fff;
  width: 97%;
}
.menu p {
  text-align: center;
}
header {
  background-color: #29009c;
  color: #fff;
}

div img {
  width: 80%;
}

.img-left {
  width: 40%;
  float: left;
  margin-right: 5px;
  border-radius: 5%;
  box-sizing: border-box;
}

/* Coluna para deixar no mobile */
.col-4,
.col-1-4,
.col-1-2 {
  width: 92%;
  margin: 0 4%;
  min-height: 1px;
  padding: 0.5em;
}
.col-1-4 {
  background-color: #818fff;
}
.img-center {
  text-align: center;
}
header {
  background-color: #29009c;
}
.col-4 {
  background-color: #5769ff;
}
.menu {
  padding: auto;
}
.main-title {
  text-align: center;
  padding: 1em;
}
.main-title h1 {
  font-size: 3em;
}

/* Media queres */
/* tables */
@media only screen and (min-width: 480px) {
  div img {
    width: 100%;
    max-width: 250px;
  }

  .col-1-4,
  .col-1-2 {
    margin-right: 0;
    float: left;
  }

  .col-1-2-menu,
  .col-1-2 {
    width: 44%;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  .title {
    float: left;
  }
  .menu {
    height: auto;
  }
  .col-1-4 {
    width: 20%;
  }
  .title,
  .menu {
    background-color: #29009c;
    height: auto;
  }
  .img-left {
    width: auto;
    float: left;
    margin-right: 5px;
  }
  .bold {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
  }
  header {
    background-color: #fff;
  }
  .col-3-4 {
    width: 68%;
  }
}
