html {
  box-sizing: border-box;
  font-family: sans-serif;
}
header,
main,
footer {
  box-sizing: inherit;
  display: inline-block;
  margin: 0 4%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
  float: none;
  background: #fff;
  width: 97%;
}

div img {
  width: 40%;
}

.col-1-2 {
  width: 92%;
  min-height: 1px;
  padding: 0.5em;
}

/* Header */
.header {
  background-color: #29009c;
  color: #fff;
}

.menu img {
  float: left;
  margin-right: 4%;
}

.title h1 {
  text-align: center;
}
.title p {
  padding-left: 16px;
}

/* Media queres */
/* tables */
@media only screen and (min-width: 480px) {
  div img {
    width: 100%;
    max-width: 250px;
  }

  .menu {
    float: right;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  .header {
    background-color: #fff;
  }
  .col-1-2 {
    background-color: #29009c;
    color: #fff;
  }
  .title {
    width: 42%;
    float: left;
  }
  .menu {
    width: 42%;
    float: right;
  }
  .menu img {
    width: 20%;
    float: left;
    margin-right: 10px;
  }
}
